[Unit]
Description=onomyd
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=onomyd
Group=onomyd
PermissionsStartOnly=true
ExecStart=/usr/bin/onomyd start
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

